# Directorio de salida de compilación
/bin/
/build/

# Archivos binarios y ejecutables
*.exe
*.dll
*.so
*.dylib
main

# Cachés de módulos
/pkg/

# Archivos de pruebas de cobertura
*.out

# Archivos generados por comandos como gofmt
*.orig


# Node modules
/node_modules/
/npm-debug.log
/yarn-error.log

# Salida de construcción de React
/build/
/public/

# Ambiente
.env

# Logs y debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker

# Archivos de contenedores de datos persistentes
/docker-compose.override.yml
/.env
*.env
# Volúmenes de Docker
/postgres_data/
# Salida de construcción de Docker
*.container

# Archivos del sistema
.DS_Store
Thumbs.db
# Archivos generados por editores de texto
.vscode/

# Archivos de configuración específicos del sistema operativo
*.swp
